*.swp
*~
*.o
tags
tbasictypes
tbasicboard
tsquare
tpiececode
tpiececount
tpiecemove
tboardinfo
tfenrecord
tiofen
tboard
oser/*
dump_symbols.txt
build/*
doxy/doxygen_sqlite3.db
doxy/html/*
doxy/latex/*
